.contacts {
  top: 26px;
  right: 0;
  font-style: normal;
  text-align: right;
}

.footer-contacts {
  top: 46px;
}

.contacts__text {
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  display: block;
}

.contacts--workhours {
  font-size: 13px;
  font-weight: normal;
  text-decoration: underline;
  display: block;
  margin-top: -7px;
  color: #98A4A8;
}

.contacts--workhours:hover {
  transition: 0.9s;
  color: #fff;
}

.dropdown__text {
  font-size: 13px;
  font-weight: 600;
  color: #1E1F20;
}

.dropdown__text--bold {
  font-weight: 700;
}