.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator--theme--dark {
color: #000000;
}

.paginator--theme--dark .paginator__item--active .paginator__link {
color: #fff;
background: #F5170E;
}

.paginator__item {
  text-align: center;
}

.paginator__display {
  margin-right: 25px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__link {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}

.paginator--theme--dark .paginator__link:hover {
  color: #fff;
  background: #F5170E;
}